/* Main Body of the page */
body
{
 
 margin: 0;
 padding:0;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #000000;
 font-family: sans-serif;
 color:#ffffff;
}

/* Headings */
h1{
	color:#FFFFFF;
	font-family:"Vijaya";
	font-size: 50px;
	text-align: center
}

h2
{
 margin: 0;
 padding: 0 0 20px;
 font-family:"Vijaya";
 color: #ffffff;
 text-align: center;
}

h3
{
 margin: 0;
 padding: 0 0 35px;
 color: #ffffff;
 text-align: center;
 text-decoration: underline;
 font-family:"Vijaya";
}
