/* Main Body of the page */
body
{
 
 margin: 0;
 padding:0;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #000000;
 font-family: sans-serif;
 color:#ffffff;
}

/* Headings */
h1{
	color:#FFFFFF;
	font-family:"Vijaya";
	font-size: 50px;
	text-align: center
}

h2
{
 margin: 0;
 padding: 0 0 20px;
 font-family:"Vijaya";
 color: #ffffff;
 text-align: center;
}

h3
{
 margin: 0;
 padding: 0 0 35px;
 color: #ffffff;
 text-align: center;
 text-decoration: underline;
 font-family:"Vijaya";
}
h4
{
 margin: 0;
 padding: 0 0 20px;
 font-family:"Vijaya";
 color: #ffffff;
 text-align: center;
 text-decoration: underline;
}
/* Table */
th{
	font-size: 25px;
	color:#ffffff;

}

td{
	font-size: 15px;
}

table{
	margin-left:50px;
}
#container{
	width:100%;
}
/* Div Alignment */
#for_left{
	width:300px;
	height:440px;
	font-family:"sans-serif";
	margin-bottom:-442px;
	color: #ffffff;
}
#for_right{
	width:300px;
	height:440px;
	margin-left: 350px;
    margin-top: -30px;
	font-family:"sans-serif";
	position:relative;
	color: #ffffff;
}

#footer{
	width:100%;
	height:50px;
	font-family:"sans-serif";
	/*position:fixed;
    /*z-index: 299;*/
    color: #ffffff;
    font-size: 15px;
    border-top: 2px solid #D3D3D3;
    text-align: center;
	
}* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Login pages */

.loginbox
{
 margin: 0 auto;
 width: 350px;
 height: auto;
 padding: 80px 40px; 
 box-sizing: border-box;
 background:rgba(211,211,211,.1);
}
.pic /* for lock picture*/
{
 width: 100px;
 height: 100px;
 border-radius: 10%;
 overflow: hidden;
 position: absolute;
 top: calc(-100px/2);
 left: calc(50% - 50px);
}

.loginbox p
{
 margin:0;
 padding: 0; 
 font-weight: bold;
 color: #fff;
}
.loginbox input
{
 width: 100%;
 margin-bottom: 20px;
}
.loginbox input[type="text"],
.loginbox input[type="password"]
{
 border: none;
 border-bottom: 1px solid #fff;
 background: transparent;
 outline: none;
 height: 40px;
 color: #fff;
 font-size: 16px;
}
::placeholder
{
 color: rgba(255,255,255,.5);
}
.loginbox input[type="submit"]
{
 border: none;
 outline: none;
 height: 40px;
 color: #fff;
 font-size: 16px;
 background: #0066ff;
 cursor: pointer;
 border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
 background: #00ccff;
 color: #ffffff;
}
.loginbox a
{
 color: #fff;
 font-size: 14px;
 font-weight: bold;
 text-decoration: none;
}




#logo{  /* Logo addition here*/
	width:50px;
	height:50px;
	position:fixed;
	z-index:300;
	border-right: 1px solid #000;
}



